
:root {
    --primary-text-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --wite-color: #FFFFFF;
    --logo-svg-color: #000000;
    --background-color: #F5F5F5;
    --background-secondary-color: #2F303A;
    --background-auxiliary-color: #F5F4FA;
    --background-button-hover: #188CE8;
    --background-social-color: rgba(255, 255, 255, 0.1);
    --background-services: rgba(47, 48, 58, 0.8);
    --background-modal: rgba(0, 0, 0, 0.2);
    --border-color: #EEEEEE;
    --color-address: rgba(255, 255, 255, 0.6);
    --color-social-icon: #AFB1B8;
    --color-border: rgba(236, 236, 236, 1);
    --border-input: rgba(33, 33, 33, 0.2);
    --border-input-footer: rgba(255, 255, 255, 0.3);
}

